<% if current_user != @user && user_signed_in? %>
    <div class="follow-request-form">
        <% if @user.user_requests.find_by(requester_id: current_user.id).present? %>
            <p>request pending</p>
        <% elsif @user.friendships.find_by(friend_id: current_user.id).present? %>
            friends
        <% else %>
            <div class="follow-form">
                <%= form_with(url: request_follow_path) do %>
                    <%= hidden_field_tag(:user_id, @user.id)%>
                    <%= hidden_field_tag(:requester_id, current_user.id)%>
                    <%= submit_tag "follow #{@user.username}"%>
                <% end %>
            </div>
        <% end %>
    </div>
<% end %>