<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" /><meta http-equiv="Expires" content="0" />

<h1>All Users</h1>

<h2>Requested/Potential Friends</h2>
<div id="user-info">
    <% @users.each do |user|%>
        <% if current_user.friendships.where(friend_id: user.id).present?%>
            <% next %>
        <% end %>

        <% if user_signed_in? %>
            <% if user.id != current_user.id %>
                <% @user = user %>
                <h3><%= user.username %>'s status: </h3> <p class="r-p"><%= render :partial => 'follow'%></p>
            <% end %>
        <% end %>
    <% end %>
</div>

<h2>Friends</h2>
<div id="user-info">
    <% @user = current_user %>
    <h3><%= render :partial => 'friends'%></h3>
</div>