<h2>My Page</h2>
<%= render :partial => 'user_page'%>
<h2>Friendship Details</h2>
<div class="friendship-details">
    <div class="friendship-content">
        <h3>Friends</h3>
        <%if @user.friendships.present? %>
            <% @user.friendships.each do |friend|%>
                <p><%= User.find(friend.friend_id).username%></p>
            <% end %>
        <% else %>
            <p>you currently have no friends</p>
        <% end %>

        <h3>Friend Requests</h3>
        <% if @user.user_requests.present? %>
            <% @user.user_requests.each do |requests|%>
                <p><%= User.find(requests.requester_id).username%> would like to follow you</p>
            <% end %>
        <% else %>
        <p>you currently have no friends requests </p>
        <% end %>

        <% if @requests.present? %>
            <h3>still pending friend requests</h3>
            <% @request_list = []%>
            <% @requests.each do |request| %>
                <% if request.requester_id == @user.id %>
                    <p><%= User.find(request.user_id).username %></p>
                    <% @request_list << User.find(request.user_id).username %>
                <% end %>
            <% end %>
            <% if !@request_list.present?%>
                <p>you have no pending friend requests</p>
            <% end %>
        <% end %>
    </div>
</div>