<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" /><meta http-equiv="Expires" content="0" />

<h2>My Page</h2>
<%= render :partial => 'user_page'%>
<h2>Friendship Details</h2>

<div class="friendship-details">
    <div class="friendship-content">

        <h3>Friends</h3>
        <%= render :partial => 'friends'%>

        <h3>Friend Requests</h3>
        <%= render :partial => 'friend_requests'%>

        <h3>Pending Friend Requests</h3>
        <%= render :partial => 'pending_requests'%>
        
    </div>
</div>