<%= form_for @post do |post|%>
    <div class=""><%= post.label "post contents: " %></div> 
    <div class=""><%= post.text_area :body %></div>
    <div class=""><%= post.submit "post" %></div>
<% end %>