<h2>timeline</h2>

<% @posts.each do |post|%>
    <% post.author.friendships.each do |friend| %>
        <% if friend.friend_id == current_user.id || friend.user_id == current_user.id %>
            <%= render :partial => 'post_info', :locals => {post: post} %>
            <% break %>
        <% end %>
    <% end %>
<% end %>