<h2>your feed</h2>

<% @user.friendships.each do |friend|%>
    <% User.find(friend.friend_id).posts.each do |post|%>
        <%= render :partial => 'post_info', locals: {post: post}%>
    <% end %>
<% end %>