<div class="home-page">
    
<div class="post-title"><h3>posts </h3></div>
    <% if @posts.present? %>
        <% @posts.each do |post|%>
            <%= render :partial => 'post_info', locals: {post: post}%>
        <% end %>
    <% end %>

</div>